*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*-------- navbar --------*/
.navbar-scrolled{
  background-color: rgba(0,0,0,0.4);
  
}

/*-------- /navbar --------*/

/*-------- header --------*/
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg-paginaInicial.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

}

.text-box{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    color: #fff;
}
.text-box h1{
    font-size: 110px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;

}
/*-------- /header --------*/

/*-------- titulos --------*/
.titulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
.titulo2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}
.titulo-tours{
  text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.sub-titulo{
     font-size: 20px;
      font-weight: 400;
      line-height: normal;
      color: rgba(83, 83, 83, 1);
      text-align: center;
      
}

/*-------- eventos --------*/

.eventos{
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.eventos {
    background-color: #f2f2f2;
  }


/*-------- toursorganizados --------*/   


.image-column {
    text-align: center;
    border-radius: 18px 0 0 18px;
  }

  .image-column img {
    width: 100%;
    height: 100%;
    border-radius: 18px 0 0 18px;
    
   
  }

  .gray-column {
    background-color: #E9E9E9;
    position: relative;
    padding-top: 25px;
    
  }
  .gray-column h3{
    padding-left: 10px;
    padding-right: 10px;
    
  }

  .gray-column p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: rgba(83, 83, 83, 1);
    text-align: justify;
  }

  .blue-column {
    background-color: #5D8ED8;
    color: #fff;
    border-radius: 0 18px 18px 0;
    padding-top: 25px;
  }
  .blue-column h1{
    text-align: center;
    position: relative;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    padding-top: 50px;
  }
  .blue-column p{
    margin-top: -20px;
    text-align: center;
    position: relative;
    font-size: 10px;
    font-weight: 550;
    line-height: normal;
  }
  
  .container-tours{
    margin-bottom: 50px;
  }

 
  @media(max-width: 700px){
    .image-column {
        text-align: center;
        border-radius: 18px 18px 0 0;
      }
    
      .image-column img {
        max-width: 100%;
        height: 100%;
        border-radius: 18px 18px 0 0;
      }
      .blue-column h1{
        padding-top: 0px;
        
      }
      .blue-column {
        border-radius: 0 0 18px 18px;
      }

      .eventos{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    
    }


  }


/*-------- /toursorganizados --------*/  

/*Galeria*/

  .gallery-container {
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 30px;
    padding-bottom: 80px;
   
  }

  @media(max-width: 700px){
    .gallery-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
       
      }

      
  }


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

 
/*------------------------------------ MUSEUS "e base do titulo para os outros" ------------------------------------*/  

.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg-museu.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}
.text-box-subheader{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    color: #fff;
    
}

@media(max-width: 700px){
  .museus{
    margin-top: 300px;
  }
  .form-check-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}

/*------------------------------------ ALOJAMENTOS ------------------------------------*/ 

.sub-header-alojamentos{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/alojamentos/nav-alojamentos.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}


@media(max-width: 700px){
  .alojamentos{
    margin-top: 300px;
  }
  .form-check-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}

/*------------------------------------ RESTAURANTES ------------------------------------*/ 

.sub-header-restaurantes{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/restaurantes/nav-restaurantes.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}

@media(max-width: 700px){
  .form-check-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}

/*------------------------------------ RENT-A-CAR ------------------------------------*/ 

.sub-header-rent{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/rent/rent-nav.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}




/*------------------------------------ BARES ------------------------------------*/ 

.sub-header-bares{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/Bares/bares-nav.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}

/*------------------------------------ INFORMAÇOES UTEIS ------------------------------------*/ 

.sub-header-informacoes{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg-informacoes.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}

/*------------------------------------ BARES ------------------------------------*/ 

.sub-header-braga{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg-porque.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}

/*------------------------------------ CONTACTOS ------------------------------------*/ 

.sub-header-contacto{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg_sobrenos.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

/*------------------------------------ PERFIL ------------------------------------*/ 

.sub-header-perfil{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg-p3.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.btn-selected {
  background-color: green;
  color: white;
}

.labels {
  font-size: 11px
}



/*------------------------------------ SOBRE NOS ------------------------------------*/  


.sub-header-sobrenos{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg_sobrenos.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  
}

.w-200 {
  width: 200px;
}

/*------------------------------------ TOURS ORGANIZADOS ------------------------------------*/  
.sub-header-toursorganizados{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Imagens/headers/bg-toursorganizados.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.info-atividades{  /*oaginas da informaçao da tour*/
  font-size: 14px;
  color: #6c757d;
}

/*------------------------------------ PORQUE BRAGA ------------------------------------*/ 
.border-black {
  border: 1px solid black;
}

.btn-group-vertical .btn {
  text-align: left;
}



/*------------------------------------ LOGIN e REGISTER ------------------------------------*/ 

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');


.box-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container-login{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field .input{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none;
}
.icons-lr{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col-register{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #fff;
}


